
.navbar-design{
    display: flex;
    background-color:white;

    padding: 30px;
}
.brand-logo {
    margin-left: 5px;
}

nav ul li {
    display: inline-block;

}

nav ul li a {
    padding:15px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
nav ul li a:hover{
    color: chocolate;
}
.topnav-left {
margin-left: 400px;
  }

  .topnav-right{
    background-color: coral;
    padding: 15px;
    border-radius: 5px;
    color: white;

  }
  .mainbody{
    background-image: url('/Image/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1500px;
    height:750px;
}

.b1{
    font-size: 18px;
    color: #ec5b53;
    text-transform: uppercase;
    display: inline-block;
    margin: 50px;
    padding-top:100px;

}
.b2{
    font-size: 70px;
    font-weight: 300;
    text-transform: capitalize;
    color: #10285d;
    margin: 50px;
    padding-bottom: 50px;
}
.b3{
    font-family: "Rubik",sans-serif;
    color: #0f0f11;
    font-size: 16px;
    margin: 50px;
    padding-bottom: 50px;
    font-weight: normal;

}

.body-bottons a{

    text-decoration: none;
}

.body-bottons1 {
    background-color: rgb(236, 91, 83);
    color: white;
    padding: 15px 50px;
    border-radius: 5px;
    margin-right: 15px;
    margin-left: 50px;
}

.body-bottons2 {
    color: rgb(70, 77, 101);
    border-color: rgb(227, 198, 198);
    padding: 15px 63px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}


.body-bottons1:hover {
    background-color: rgb(242, 57, 48);
}

.body-bottons2:hover {
    background-color: rgb(236, 91, 83);
    color: aliceblue;
}
#foter{
    display: flex;
    /* justify-content: space-around; */
height: 100px;
width: 1500px;


}
.Lfoter{
    margin-left: 50px;
    margin-right:500px;
}
